.option_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 20vh;
  width: 50vh;
  height: 50vh;
  border-radius: 30px;
  background: var(--bg2);
  box-shadow: 4px 4px 10px var(--shadow);
}

.inventary_btn {
  background: none;
}

.inventary {
  color: var(--text);
  all: unset;
  background: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  transition: all 0.3s ease;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.inventary:hover {
  scale: 1.1;
}
.inventary:active {
  background: none;
  color: var(--text);
  transition: all 0.3s ease;
}