/*_________LOGIN___________*/
.login {
  background-color: transparent;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.log-form-content {
  background: transparent;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.log-title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: -10rem;
  margin-bottom: 3rem;
}

/*__________CAMPOS___________*/

.form-field {
  position: relative;
  padding: 1.2rem;
  padding-top: 0.2rem; 
}

.log-form-control {
  width: 100%;
  padding: 8px;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--text);
  color: var(--text);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.log-form-control:focus {
  border-bottom-color: var(--text);
}

.log-form-label {
  position: absolute;
  top: -40px;
  padding: 25px;
  left: 0;
  font-size: 0.78rem;
  color: var(--text);
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: transparent;
}

/*__________BOTÓN___________*/

.log-btn {
  margin-top: 1rem;
  margin-left: 1.5rem;
  padding: 0.75rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: background 0.3s ease;
}

.log-btn:hover {
  background-color: var(--border2);
}

.register-link {
  text-decoration: none;
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 3rem;
  color: var(--text);
}

/*__________AUTOFILL___________*/
.log-form-control:-webkit-autofill,
.log-form-control:-webkit-autofill:hover,
.log-form-control:-webkit-autofill:focus,
.log-form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.log-form-control:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -moz-text-fill-color: var(--text) !important;
}