.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.message-box {
  width: 90%;
  max-width: 300px; 
  padding: 1.5em;
  border-radius: 20px;
  color: var(--text);
  background: var(--border2);
  text-align: center;
  position: absolute; 
  top: 450px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1100;
}

p {
  background: none;
}

/* Estilo del botón */
.box-btn {
  margin-top: 30px;
  padding: 8px 18px;
  background: none;
  color: var(--border);
  border: none;
  border-radius: 6px;
  border-color: var(--border);
  border-style: solid;
  box-shadow: none;
  border-width: 1px;
  cursor: pointer;
}

.box-btn:hover {
  color: var(--text2);
  box-shadow: none;
  scale: 1.1;
  transition: all 0.1s ease;
}

.box-btn:active {
  box-shadow: none;
  scale: 0.9;
  transition: all 0.1s ease;
}