.register {
  background-color: transparent;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.reg-form-content {
  background: transparent;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reg-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.reg-field {
  position: relative;
}

.reg-field input {
  width: 100%;
  padding: 6px; 
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--text);
  color: var(--text);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.reg-field input:focus {
  border-bottom-color: var(--text);
}

.reg-field label {
  position: absolute;
  top: 8px;
  padding-bottom: 1px;
  padding-top: 3px;
  left: 0;
  font-size: 1rem;
  color: var(--text3);
  pointer-events: none;
  transition: all 0.2s ease;
}

.reg-field input:focus + label,
.reg-field input:not(:placeholder-shown) + label,
.reg-field input:valid + label {
  top: -25px;
  font-size: 0.8rem;
  color: var(--text);
}

.reg-btn {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--accent);
  color: var(--primary);
  cursor: pointer;
  transition: background 0.3s ease;
}

.reg-btn:hover {
  background-color: var(--border2);
}

.login-link {
  font-size: 14px;
  margin-left: 3rem;
  color: var(--text);
}

/* AUTOFILL: evitar fondo por defecto del navegador */
.reg-field input:-webkit-autofill,
.reg-field input:-webkit-autofill:hover,
.reg-field input:-webkit-autofill:focus,
.reg-field input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.reg-field input:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -moz-text-fill-color: var(--text) !important;
}